title: Imam
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  I'm into data analytics, data modeling, and software dev. I love
  diving into datasets to find cool insights, building data models for
  efficiency, and creating software that solves problems and drives
  innovation..
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
# baseurl: "portfolio/" # the subpath of your site, e.g. /blog
# url: "https://immsswd.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username: jekyll

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate
paginate: 5 # Number of posts per page
paginate_path: "/page:num/"
permalink: /:year/:month/:day/:title/
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
