---
layout: default
title: Home
---

<h3>Recent Posts</h3>
{% assign sorted_posts = paginator.posts | sort: 'date' | reverse %} {% for post
in sorted_posts %}
<article>
  <h2 class="">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h2>
  <p>{{ post.excerpt }}</p>
</article>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}"
    >&laquo; Previous</a
  >
  {% endif %}

  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% endif %}
</div>
