---
---

@import "{{ site.theme }}";

/* Customize the download buttons */
.github-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.github-buttons a {
  padding: 10px 20px;
  background-color: #0078d4; /* Custom button color */
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  margin: 0 5px;
  border-radius: 5px;
}

.github-buttons a:hover {
  background-color: #0056a3;
}

.github-buttons a:active {
  transform: scale(0.95);
}
