<h1 class="">{{site.title}}</h1>
<p>{{site.description}}</p>
<!-- <p class="view">
      <a href="http://github.com/orderedlist/minimal"
        >View the Project on GitHub <small>orderedlist/minimal</small></a
      >
    </p> -->
<ul>
  <li>
    <a href="{{ '/about/' | relative_url }}">Page <strong>About</strong></a>
  </li>
  <li>
    <a href="{{ '/archives/' | relative_url }}"
      >Page <strong>Archives</strong></a
    >
  </li>
  <li>
    <a
      href="https://public.tableau.com/app/profile/imam.imam6383/vizzes"
      target="_blank"
      >Portfolio <strong>Tableau</strong></a
    >
  </li>
</ul>
