<h1 class="">{{site.title}}</h1>
<p>{{site.description}}</p>
<!-- <p class="view">
      <a href="http://github.com/orderedlist/minimal"
        >View the Project on GitHub <small>orderedlist/minimal</small></a
      >
    </p> -->
<ul>
  <li>
    <a href="{{ '/about/' | relative_url }}">Page <strong>About</strong></a>
  </li>
  <li>
    <a href="{{ '/archives/' | relative_url }}"
      >Page <strong>Archives</strong></a
    >
  </li>
  <li>
    <a
      href="https://drive.google.com/file/d/112q3437Kvf-3ZzIl7C-B27H46rPZGl0w/view?usp=drive_link"
      target="_blank"
      >Download<strong>Resume<strong></a
    >
  </li>
</ul>
