{% if page.url == "/" %} {% else %}
<div class="header-tools mb-2">
  <a class="mr-2" href="javascript:history.back()" onclick="goBack()"
    >⬅️ Back</a
  >
  <a class="mr-2" href="{{ '/' | relative_url }}" onclick="editCard()"
    >🏠 Home</a
  >
  <!-- <a class="mr-2" href="#" onclick="openSettings()">⚙️ Settings</a> -->
</div>
<hr />
{% assign filtered_pages = site.pages | where_exp: "item", "item.url contains
'/page'" %} {% if page.url == "/about/" or page.url == "/archives/" or page.url
== filtered_pages[0].url %} {%else %}
<h1 class="mb-1">{{ page.title }}</h1>
<p class="post-date mt-0 mb-4">
  {{ page.date | date: "%B %d, %Y" }}. [{{ page.categories}}]
</p>
{% endif %} {% endif %}
