<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>{% include header.html %}</header>
      <section class="pl-0">
        {% include tools-header.html %}{{ content }}
      </section>
      <footer>{% include footer.html %}</footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script>
      // Get the button
      var scrollUpBtn = document.getElementById("scrollUpBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

/**
 * Shows or hides the "Scroll to top" button based on the scroll position.
 * If the user has scrolled more than 20px from the top of the document, the button is shown.
 * Otherwise, it is hidden.
 */
      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          scrollUpBtn.style.display = "block";
        } else {
          scrollUpBtn.style.display = "none";
        }
      }

      // When the user clicks on the button, smoothly scroll to the top of the document
      function topFunction() {
        window.scrollTo({
          top: 0,
          behavior: "smooth", // Smooth scrolling
        });
      }
    </script>
  </body>
</html>
