<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link rel="stylesheet" href="stylesheets/pygment_trac.css" />
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>Imam</h2>
        <p>
          I'm into data analytics, data modeling, and software dev. I love
          diving into datasets to find cool insights, building data models for
          efficiency, and creating software that solves problems and drives
          innovation.
        </p>
        <!-- <p class="view">
          <a href="http://github.com/orderedlist/minimal"
            >View the Project on GitHub <small>orderedlist/minimal</small></a
          >
        </p> -->
        <ul>
          <li>
            <a href="#">Media <strong>Github</strong></a>
          </li>
          <li>
            <a href="https://linkedin.com/in/imam" target="_blank"
              >Media <strong>LinkedIn</strong></a
            >
          </li>
          <li>
            <a
              href="https://public.tableau.com/app/profile/imam.imam6383/vizzes"
              target="_blank"
              >BI Analytic <strong>Tableau</strong></a
            >
          </li>
        </ul>
      </header>
      <section>{{ content }}</section>
      <footer>
        <button onclick="topFunction()" id="scrollUpBtn" title="Go to top">
          Top
        </button>

        <!-- <p>
          This project is maintained by
          <a href="http://github.com/orderedlist">Steve Smith</a>
        </p> -->
        <p>
          <small
            >Hosted on GitHub Pages &mdash; Theme by
            <a href="https://github.com/orderedlist">orderedlist</a> &mdash;
            <script>
              document.write(new Date().getFullYear());
            </script></small
          >
        </p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script>
      var scrollUpBtn = document.getElementById("scrollUpBtn");

      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          scrollUpBtn.style.display = "block";
        } else {
          scrollUpBtn.style.display = "none";
        }
      }

      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
  </body>
</html>
