<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>{% include header.html %}</header>
      <section class="pl-0">
        {% include tools-header.html %}{{ content }}
      </section>
      <footer>
        <button onclick="topFunction()" id="scrollUpBtn" title="Go to top">
          🔝
        </button>

        <!-- <p>
          This project is maintained by
          <a href="http://github.com/orderedlist">Steve Smith</a>
        </p> -->
        <p>
          <small
            >Hosted on GitHub Pages &mdash; Theme by
            <a href="https://github.com/orderedlist">orderedlist</a> &mdash;
            <script>
              document.write(new Date().getFullYear());
            </script></small
          >
        </p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script>
      // Get the button
      var scrollUpBtn = document.getElementById("scrollUpBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          scrollUpBtn.style.display = "block";
        } else {
          scrollUpBtn.style.display = "none";
        }
      }

      // When the user clicks on the button, smoothly scroll to the top of the document
      function topFunction() {
        window.scrollTo({
          top: 0,
          behavior: "smooth", // Smooth scrolling
        });
      }
    </script>
  </body>
</html>
